#### if, elif, else

In [1]:
# if는 조건이 true일 경우만 수행
x  = -1

if x < 0 :
    print('it\'s negative')

it's negative

In [2]:
x  = 10

if x < 0 :
    print('it\'s negative')
elif x == 0 :
    print('Equal to zero')
elif 0 < x < 5 :
    print('Positive but smaller than 5')
else : 
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [3]:
a = 5; b = 7
c = 8 ; d = 4

In [4]:
# and, or과 함께 사용하면 이 조건이 왼쪽에서 오른쪽 순서로 검사하면서 조건 부합하는 시점에서 검사 종료됨

if a < b or c == d : 
    print('Made it')

Made it

#### for

- 리스트나 튜플 같은 컬렉션이나 이터레이터 를 순회하며 실행

```python
for value in collection :
    # value를 이용하는 코드 작성
```

continue 예약어 사용해 남은 블록을 건너뛰고 다음 순회로 넘어갈 수 있음

In [5]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence :
    if value is None :
        continue
    total += value

total

12

break 예약어 사용해 빠져나갈 수 있음

In [6]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0

for value in sequence :
    if value == 6 :
        break
    total_until_5  += value

total_until_5

7

반복문 안의 break 예약어는 해당 반복문만 빠져나가며 전체 반복문은 모두 실행됨

In [7]:
for i in range(4) :
    for j in range(4) :
        if j > i :
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

컬렉션의 원소나 이터레이터가 순차적인 자료(예를 들면 튜플이나 리스트)라면 for문 안에서 여러개의 변수 꺼낼 수 있음

```python
for a, b, c in iterator :
        # 필요한 코드 작성
```

#### while

In [8]:
x = 256
total = 0

while x > 0 :
    if total > 500 :
        break
    total += x
    x = x // 2
    
total

504

#### range

- 연속된 정수를 넘겨주는 이터레이터를 반환함
- 마지막 값 바로 이전 정수까지의 값 반환
- 일반적으로 색인으로 시퀀스를 반복하기위해 사용

In [9]:
range(10)

range(0, 10)

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# start, end, step(음수 가능)
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
list(range(20, 0, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [13]:
seq = [1, 2, 3, 4]
for i in range(len(seq)) :  # 인덱스로 사용한 예
    val = seq[i]

In [14]:
# 예

sum = 0

for i in range(1000) :
    if i % 3 == 0 or i % 5 == 0 :
        print(i)
        sum += i
    
sum

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100
102
105
108
110
111
114
115
117
120
123
125
126
129
130
132
135
138
140
141
144
145
147
150
153
155
156
159
160
162
165
168
170
171
174
175
177
180
183
185
186
189
190
192
195
198
200
201
204
205
207
210
213
215
216
219
220
222
225
228
230
231
234
235
237
240
243
245
246
249
250
252
255
258
260
261
264
265
267
270
273
275
276
279
280
282
285
288
290
291
294
295
297
300
303
305
306
309
310
312
315
318
320
321
324
325
327
330
333
335
336
339
340
342
345
348
350
351
354
355
357
360
363
365
366
369
370
372
375
378
380
381
384
385
387
390
393
395
396
399
400
402
405
408
410
411
414
415
417
420
423
425
426
429
430
432
435
438
440
441
444
445
447
450
453
455
456
459
460
462
465
468
470
471
474
475
477
480
483
485
486
489
490
492
495
498
500
501
504
505
507
510
513
515
516
519
520
522
525
528
530
531
534
535
537
540
543
545
546
549
550
552
555
558
560
561
564
565
567
570
573
575
576
579
580
582
585
588
590
591
594
595
597
600
603
605
606
609
610
612
615
618
620
621
624
625
627
630
633
635
636
639
640
642
645
648
650
651
654
655
657
660
663
665
666
669
670
672
675
678
680
681
684
685
687
690
693
695
696
699
700
702
705
708
710
711
714
715
717
720
723
725
726
729
730
732
735
738
740
741
744
745
747
750
753
755
756
759
760
762
765
768
770
771
774
775
777
780
783
785
786
789
790
792
795
798
800
801
804
805
807
810
813
815
816
819
820
822
825
828
830
831
834
835
837
840
843
845
846
849
850
852
855
858
860
861
864
865
867
870
873
875
876
879
880
882
885
888
890
891
894
895
897
900
903
905
906
909
910
912
915
918
920
921
924
925
927
930
933
935
936
939
940
942
945
948
950
951
954
955
957
960
963
965
966
969
970
972
975
978
980
981
984
985
987
990
993
995
996
999

233168

#### 삼항 표현식

```python
if condition :
    value = true-expr
else :
    value = false-expr
```

위의 식을 아래와 같이 표현 가능함 

```python
value = true-expr if condition else false-expr

```

In [15]:
x = 5

'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

참고 자료
> Python for Data Analysis(2019), 한빛미디어