### 색인 객체

- 표 형식의 데이터에서 각 로우와 칼럼에 대한 이름과 다른 메타데이터(축의 이름 등)을 저장하는 객체
- Series나 DataFrame 객체를 생성할 때 사용되는 배열이나 다른 순차적인 이름은 내부적으로 색인으로 변환됨

In [1]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [2]:
index = obj.index

index

Index(['a', 'b', 'c'], dtype='object')

In [3]:
index[1:]

Index(['b', 'c'], dtype='object')

- 색인 객체는 변경이 불가능함

In [4]:
#index[1] = 'd'

TypeError: Index does not support mutable operations

In [5]:
labels = pd.Index(np.arange(3))

labels

Int64Index([0, 1, 2], dtype='int64')

In [6]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [7]:
obj2.index is labels

True

- Index 객체도 고정크기로 동작

In [8]:
pop = {'Nevada' : {2001:2.4, 2002 : 2.9},
      'Ohio':{2000:1.5, 2001:1.7, 2002:3.6}}

In [9]:
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [10]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object')

In [11]:
'Ohio' in frame3.columns

True

- 인덱스의 중복 값 허용

In [12]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

- 색인 메서드와 속성

|메서드|설명|
|:--|:--|
|append|추가적인 색인 객체를 덧붙여 새로운 색인 반환|
|difference|색인의 차집합 반환|
|intersection|색인의 교집합 반환|
|union|색인의 합집합 반환|
|isin|색인이 념겨 받은 색인에 존재하는지 알려주는 불리언 배열 반환|
|delete|i위치의 색인이 삭제된 새로운 색인 반환|
|drop|넘겨받은 값이 삭제된 새로운 색인 반환|
|insert|i위치에 색인이 추가된 새로운 색인 반환|
|is_monotonic|색인이 단조성 가지면 True반환|
|is_unique|중복되는 색인 없다면 True 반환|
|unique|색인에서 중복되는 요소 제거하고 유일한 값만 반환|

참고 자료
> Python for Data Analysis(2019), 한빛미디어