#### 리스트 표기법
>- 리스트 표기법
```python
    [expr for val in collection if condition]
```
>-위의 코드를  반복문으로 구현시, 
```python
result = []
for val in collection :
    if condition :
        result.append(expr)
```
- 이때,  필터 조건 생략 가능

In [1]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [2]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

집합과 사전에 대해서도 리스트 표기법과 같은 방식으로 적용 가능

>- 사전 표기법
```python
dict_comp = {key_expr : value-expr for value in collection
            if condition}
```
>- 집합 표기법
```python
set_comp = {expr for value in collection if condition}
```

In [4]:
unique_lengths = {len(x) for x  in strings}

unique_lengths

{1, 2, 3, 4, 6}

In [5]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [6]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

중첩된 리스트 표기법

In [7]:
all_data = [['Jone', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia','Pilar']]

In [9]:
#all_data에서 'e'가 2번 이상인 단어 찾기

names_of_interest=[]

for names in all_data :
    enough_es = [name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)
    
names_of_interest

['Steven']

In [10]:
# 위 코드를 중첩된 리스트 표기법 이용해 구현

result = [name for names in all_data for name in names
         if name.count('e') >=2]
result

['Steven']

In [14]:
# 숫자 튜플이 담긴 리스트를 단순한 리스트로 변환

some_tuples = [(1,2,3), (4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples  for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 위의 코드와 동일한 것

flattened = []
for tup in some_tuples :
    for x in tup:
        flattened.append(x)
        
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# 위의 것에서 리스트의 리스트 생성

[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

참고 자료
> Python for Data Analysis(2019), 한빛미디어