### 제너레이터

- 리스트 내의 객체나 파일의 각 로우 같은 순차적인 자료를 순회하는 일관적 방법
- 이터레이터 프로토콜로 순회 가능한 객체 생성 가능
- 사전 순회 시, 키가 반환

In [1]:
some_dict = {'a': 1, 'b':2, 'c':3}

for key in some_dict:
    print(key)

a
b
c

- `for key in some_dict`로 파이썬 인터프리터는 `some_dict`에서 이터레이터 생성함
- 리스트, 리스트와 유사한 객체 취하는 대부분의 메서드는 순회 가능 객체도 혀용
- ` max`, `sum` 같은 내장 메서드와 `list`, `tuple`같은 자료 생성하는 메서드 포함함

In [2]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

- **제너레이터**는 순회 가능한 객체 생성하는 간단한 방법
- 순차적인 값을 매 요청시마다 하나씩 반환
- 제너레이터 생성하려면 함수에서 `return`하는 대신 `yield`예약어 사용

In [3]:
def squares(n=10) :
    print('Generating squares from 1 to {0}'.format(n**2))
    
    for i in range(1, n+1):
        yield i**2
        
gen = squares()

for x in gen :
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### 제너레이터 표현식

- 괄호 사용하여 제너레이터 생성

In [4]:
# 1번 방법

gen = (x**2 for x in range(100))

gen

In [5]:
# 2번 방법

def _make_gen() :
    for x in range(100):
        yield x **2
gen = _make_gen()
gen

In [6]:
sum(x**2 for x in range(3))

5

In [7]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools 모듈

- 일반 데이터 알고리즘을 위한 많은 제너레이터를 포함함
- groupby는 순차 자료구조와 함수를 받아 인지로 받은 함수에서 반환 값에 따라 그룹 지어줌

In [8]:
import itertools

first_letter = lambda x : x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

itertools 함수

|함수|설명|
|:---|:---|
|combinations(iterable, k)|iterable에서 순서 고려하지 않고 길이가 k인 모든 가능한 조합 생성|
|permutations(iterable, k)|iterable에서 순서 고려하여 길이가 k인 모든 가능한 조합 생성|
|groupby(iterable[, keyfunc]|iterable에서 각각의 고유 키에 따라 그룹 생성|
|product(\*iterables, repeat=1)| iterable에서 카테시안 곱을 구함, 중첩된 for문 사용과 유사|

#### 에러와 예외처리

In [9]:
float('1.234567')

1.234567

In [10]:
#float('something')

ValueError: could not convert string to float: 'something'

In [11]:
def attempt_float(x):
    try :
        return float(x)
    except :
        return x

위에서, except블록의 코드는 float(x)가 예외 발생시 실행됨

In [12]:
attempt_float('1.234567')

1.234567

In [13]:
attempt_float('something')

'something'

In [14]:
#float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [15]:
def attemp_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [16]:
attempt_float((1,2))

(1, 2)

finally : 예외를 무시하지 않고 try블록의 코드가 성공적으로 수행되었는지 여부와 관계없이 실행시키고 싶은 코드있을 경우 사용

- 예  
```python
f = open(path, 'w')
try :
    write_to_file(f)
finally :
    f.close()
```

- 예2 : try 블록이 성공적 수행되었을 경우에만 else 블록 사용하여 수행할 코드 작성
```python
f = open(path, 'w')
try :
    write_to_file(f)
except :
    print('Failed')
else :
    print('Succeeded')
finally :
    f.close()
```

참고 자료
> Python for Data Analysis(2019), 한빛미디어