#### 튜플

- 1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형
- 튜플을 생성하는 가장 쉬운 방볍은 쉼표로 구분된 값을 대입하는 것

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

중첩 튜플

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

모든 순차 자료형이나 이터레이터는 tuple메서드를 호출해서 변환 가능

In [3]:
tuple([4, 5, 6])

(4, 5, 6)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

튜플 각 원소는 대괄호 []를 이용해 다른 순차 자료형처럼 접근 가능

In [5]:
tup[0]

's'

튜플에 저장된 객체 자체는 변경 가능하나 한번 생성된 각 슬롯에 저장된 객체를 변경하지 못함

In [6]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

튜플 내 저장된 객체는 그 위치에서 바로 변경 가능함

In [7]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

`+` 연산자 이용해 튜플을 이어붙일 수 있음

In [8]:
(4, None, 'foo') + (6, 8) + ('bar',)

(4, None, 'foo', 6, 8, 'bar')

튜플에 정수를 곱하면 리스트와 마찬가지로 튜플의 복사본이 반복적으로 늘어남
- 튜플 안에 있는 객체는 복사되지 않고 그 객체에 대한 참조만 복사됨

In [9]:
('foo', 'bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### 튜플에서 값 분리하기

튜플과 같은 표현의 변수에 튜플을 대입하면 등호(=) 오른쪽에 있는 변수에 값을 분리함

In [10]:
tup = (4, 5, 6)

In [11]:
a, b, c = tup

In [12]:
b

5

중첩된 튜플을 포함하는 순차 자료형에도 값 분리 가능

In [13]:
tup = 4, 5, (6, 7)

In [14]:
a, b, (c, d) = tup

In [15]:
d

7

In [16]:
# 이 기능을 통해 두 변수값 바꾸는 것 용이

a, b = 1, 2

In [17]:
a

1

In [18]:
b

2

In [19]:
b, a = a, b

In [20]:
a

2

In [21]:
b

1

In [22]:
# 튜플이나 리스트 순회시에도 흔히 사용

seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq :
    print('a={0}, b = {1}, c = {2}'.format(a, b, c))

a=1, b = 2, c = 3
a=4, b = 5, c = 6
a=7, b = 8, c = 9

`*rest`  
튜플의 처음 몇개의 값을 추출하는 상황을 위해 튜플에서 `*rest`사용하여 함수의 시그니처에서 길이를 알수 없는 긴 인자를 담아, 값을 분리하는 방법도 있음

In [23]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

In [24]:
a, b

(1, 2)

In [25]:
rest

[3, 4, 5]

rest는 필요없는 값을 무시하기 위해서 사용하기도 함
불필요한 변수라는 것을 나타내기 위해 `_`를 통상 사용하기도 함

In [26]:
a, b, *_ = values

In [27]:
_

[3, 4, 5]

#### 튜플 메서드

- count() : 주어진 값과 같은 값이 몇개인지를 반환

In [28]:
a = (1, 2, 2, 2, 3, 4, 2)
a. count(2)

4

참고 자료
> Python for Data Analysis(2019), 한빛미디어